<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'bg_card.jpg' %>);">
  <div class="container">
    <h1><%= @list.name %></h1>
    <%= link_to 'Add Movie', new_list_bookmark_path(@list), class: 'btn btn-flat', data: { 'bs-toggle' => "modal", 'bs-target' => "#exampleModal"} %>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @bookmarks.each do |bookmark| %>
      <%= render 'movie_card', movie: bookmark.movie, bookmark: bookmark %>
    <% end %>
  </div>
</div>

<!-- Modal -->
<%= render 'bookmarks/form_modal', list: @list, bookmark: @bookmark %>
